@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Code+Pro&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

.form{
    display:grid;
    grid-template-columns: 10% 20% 70%;
}

.options{
    display: flex;
    flex-direction: column;
    gap:3px;
    padding: 5px;
}

.options > button{
    padding: 4px 10px;
    font-size: 15px;
    border: rgb(128, 128, 128) solid 1px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-duration: 0.2s;
}

.options > button:hover{
    background-color: black;
    border: rgb(0, 0, 0) solid 1px;
    color: white;
}

.fields{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
}

.new-form-input{
    background-color: rgb(238, 238, 238);
    padding: 5px;
    display: flex;
    align-self: start;
    border-radius: 5px;
    gap:5px
}

.new-form-input > input, button{
    padding: 5px;
}

.new-form-input > button{
    padding: 4px 10px;
    font-size: 15px;
    border: rgb(128, 128, 128) solid 1px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    transition-duration: 0.2s;
}

.new-form-input > button:hover{
    background-color: black;
    border: rgb(0, 0, 0) solid 1px;
    color: white;
}

.scheme-creator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.616);
}

.scheme-creator > .rectangle{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
}

.scheme-creator > .rectangle > .header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.scheme-creator > .rectangle > .header > div{
    padding: 15px;
}

.scheme-creator > .rectangle > .header > .close{
    cursor: pointer;
}

.scheme-creator > .rectangle > .content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.field-card{
    display: flex;
    gap:5px;
    align-items: center;
}

.field-card > input[type=text], select{
    padding: 3px;
}

.field-card > button{
    padding: 3px 9px;
}

.add-fields{
    width: 100%;
    padding: 5px;
}

.retrieved-data{
    display: grid;
    grid-template-columns: 33% 33% 33% ;
    grid-template-rows: auto;
}

.universal-data-card{
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    white-space: pre-wrap;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 5px;
    font-weight: bold;
}

.udc-list{
    list-style: none;
}

.udc-list > li > span, .curly-bracket-left, .curly-bracket-right{
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
}

.key{
    color: rgb(0, 102, 255);
}

.value{
    color: rgb(255, 119, 0);
}

.curly-bracket-left, .curly-bracket-right{
    color: rgb(1, 63, 155);
}

.collection-list{
    padding: 15px;
    margin: 0;
}

.collection-list > li > a{
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    text-decoration: none;
}

.collection-list > li > a:hover{
    text-decoration: underline;
}

.current-collection{
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    color: red;
    padding: 3px;
}