@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
}

.navbar{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
}

.navbar > h2{
    margin: 0;
}

.form{
    display:grid;
    grid-template-columns: 10vw 90vw;
}

.fields{
    display: flex;
    gap: 5px;
    margin-top: 5px;
}

.add-field{
    display: flex;
    flex-direction: column;
    gap:3px;
    padding: 5px;
}

.new-form-input{
    display: flex;
    align-items: center;
    gap:3px;
    align-self:baseline
}

.scheme-creator{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.616);
}

.scheme-creator > .rectangle{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
}

.scheme-creator > .rectangle > .header{
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
}

.scheme-creator > .rectangle > .header > div{
    padding: 15px;
}

.scheme-creator > .rectangle > .header > .close{
    cursor: pointer;
}

.scheme-creator > .rectangle > .content{
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;
}

.field-card{
    display: flex;
    gap:5px;
    align-items: center;
}

.field-card > input[type=text], select{
    padding: 3px;
}

.field-card > button{
    padding: 3px 9px;
}

.add-fields{
    width: 100%;
    padding: 5px;
}